.App {
  text-align: center;
}
.jigsaw-puzzle {
  width: 60%;
  height: 40%;
  border: 2px solid grey;
  margin: auto;
}
.message-text {
  display: flex;
  align-items: center;
}
.message-box {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
